<section class="bottom"> 
	<div id="parallax_0" class="rd-parallax"><div class="rd-parallax-inner">
		<div class="rd-parallax-layer" data-type="media" data-speed="0.3" data-direction="inverse" data-url="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/parallax-2050x1360.jpg" data-blur="false" style="background-image: url(&quot;http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/parallax-2050x1360.jpg&quot;); height: 777px; transform: translate3d(0px, -176.455px, 0px); transition: none 0s ease 0s ; filter: none;" data-media-width="2050" data-media-height="1360">
		</div>
		<div class="rd-parallax-layer layer-0" data-type="html" data-speed="0" data-fade="false" data-direction="inverse" style="transform: translate3d(0px, 167.5px, 0px); transition: none 0s ease 0s ;">
			<div class="container">
				<div class="title">
					<a href="">Wedding bouquets</a>
				</div>
				<p>What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.</p>
			</div>
		</div>
		</div>
	</div>	 
</section>