<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
	<div class="product-thumb transition">
		<a class="quickview" data-rel="details" href="#quickview_1" data-toggle="tooltip" title="" data-original-title="Quick View">
			<i class="fl-line-icon-set-eyes"></i>
		</a>
		

		<div class="image">
			<a class="lazy lazy-loaded" style="padding-bottom: 100%" href=""> 
				<img alt="Happy Birthday Kalanchoe Basket" title="Happy Birthday Kalanchoe Basket" class="img-responsive" data-src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-270x270.png" src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-270x270.png">
			</a>

			<div class="stickers">
				<div class="sale">sale</div>
			</div>
		</div>
		<div class="caption">
			<div class="name">
				<a href="">Happy Birthday Kalanchoe Basket</a>
			</div>

			<div class="price">
				<span class="price-new">$32.00</span> <span class="price-old">$40.00</span>
			</div>

			<div class="cart-button">
				<button class="btn btn-add" type="button" onclick="cart.add('33');">					
					<span>Add to Cart</span>
				</button>
			</div>
		</div>
	</div>
</div>