<section class="top">
	<div id="banner0" class="banners row">
		<div class="col-sm-12 banner-1">
			<div class="banner-box">
				<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/banner-header-2050x526.jpg" alt="banner-1" class="img-responsive">
				<div class="s-desc">
					<div class="container">
						<span class="title">
							The biggest selection of fresh flowers 
							<br>for any occasion!
						</span>
						<p>We work with the leading florists because this sphere is very important in our kind of activity. </p>
						<div class="clear">
							<a href="http://localhost:3000/products/5" class="btn-banner">More info<span class="over">More info</span><span class="out">More info</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
