<form action="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=checkout/cart/edit" method="post" enctype="multipart/form-data">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Image</td>
					<td class="text-left">Product Name</td>
					<td class="text-left">Quantity</td>
					<td class="text-right">Unit Price</td>
					<td class="text-right">Total</td>
					<td style="width: 0"></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center vcenter"> 
						<div class="image">
							<a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=product/product&amp;product_id=29">
								<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-4-150x150.png" alt="Autumn Shades Perfect Gift" title="Autumn Shades Perfect Gift" class="img-thumbnail">
							</a>
						</div>
					</td>
					<td class="text-left">
						<a class="link" href="">
						Autumn Shades Perfect Gift </a>
						<br>
						<small>
						<strong>Model</strong> : Deluxe </small>
						<br>
						<small>
						<strong>Size</strong>: Medium </small>
						<br>
						<small>
						<strong>Color</strong>: red </small>
					</td>
					<td class="text-left">
						<div class="btn-block clearfix" style="max-width: 200px;">
							<a class="counter counter-minus material-design-horizontal39" href="#"></a>
								<input name="quantity[181]" value="1" size="1" class="form-control cart-q" id="cart-q" type="text">
							<a class="counter counter-plus material-design-add186" href="#"></a>
							<p>
							<button type="submit" class="link">Update</button>
							</p>
						</div>
					</td>
					<td class="text-right">
						<div class="price">$35.60</div>
					</td>
					<td class="text-right">
						<div class="price price-total">$35.60</div>
					</td>
					<td class="text-center" style="width: 0">
						<button type="button" data-toggle="tooltip" title="" class="cart-remove-btn" onclick="cart.remove('181');" data-original-title="Remove">
							<i class="material-design-rubbish"></i>
						</button>
					</td>
				</tr>
				<tr>
					<td class="text-center vcenter"> 
						<div class="image">
							<a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=product/product&amp;product_id=29">
								<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-4-150x150.png" alt="Autumn Shades Perfect Gift" title="Autumn Shades Perfect Gift" class="img-thumbnail">
							</a>
						</div>
					</td>
					<td class="text-left">
						<a class="link" href="">
						Autumn Shades Perfect Gift </a>
						<br>
						<small>
						<strong>Model</strong> : Deluxe </small>
						<br>
						<small>
						<strong>Size</strong>: Medium </small>
						<br>
						<small>
						<strong>Color</strong>: red </small>
					</td>
					<td class="text-left">
						<div class="btn-block clearfix" style="max-width: 200px;">
							<a class="counter counter-minus material-design-horizontal39" href="#"></a>
								<input name="quantity[181]" value="1" size="1" class="form-control cart-q" id="cart-q" type="text">
							<a class="counter counter-plus material-design-add186" href="#"></a>
							<p>
							<button type="submit" class="link">Update</button>
							</p>
						</div>
					</td>
					<td class="text-right">
						<div class="price">$35.60</div>
					</td>
					<td class="text-right">
						<div class="price price-total">$35.60</div>
					</td>
					<td class="text-center" style="width: 0">
						<button type="button" data-toggle="tooltip" title="" class="cart-remove-btn" onclick="cart.remove('181');" data-original-title="Remove">
							<i class="material-design-rubbish"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>