<div class="container">
	<ul class="breadcrumb">
		<li><a href="/"><i class="fa fa-home"></i></a></li>
		<li class="last"><a href="/shoppingcart" style="display: none;">Shopping Cart</a><span>Shopping Cart</span></li>
	</ul>
	<div class="row">
		<div id="content" class="col-sm-12">
			<h1><i class="material-design-shopping231"></i>Shopping Cart
			</h1>
			<%= render 'cart/list_products'%>
			
			
			
			<div class="buttons">
				<div class="pull-left"><a href="/" class="btn btn-default">Continue Shopping</a></div>
				<div class="pull-right"><a href="/checkout/step1" class="btn btn-primary checkout">Checkout<i class="material-design-forward18"></i></a></div>
			</div>
		</div>
	</div>
</div>