<div id="tab-review" class="tab-pane product-reviews product-section active">
	<form class="form-horizontal" id="form-review">
		<div id="review"> 
			<div class="review-item">
				<div class="row">
					<div class="col-sm-3">
						<div class="rating review-score">
							<i class="fl-line-icon-set-arrow436 active"></i>
							<i class="fl-line-icon-set-arrow436 active"></i>
							<i class="fl-line-icon-set-arrow436 active"></i>
							<i class="fl-line-icon-set-arrow436 active"></i>
							<i class="fl-line-icon-set-arrow436 active"></i>
						</div>
						<div class="review-author"><strong>Albert</strong></div>
						<div class="review-date">03/12/2014</div>
					</div>
					<div class="col-sm-9">
						I wanted to say thank you for the amazing product and for the fast processing and delivery. It was impressive, you weren't kidding. I was surprised with such an excellent quality...My family is very happy. I would definitely use this site again and again and recommend it to others. 
					</div>
				</div>
			</div>
			<div class="text-right"></div>
		</div>
 
		<div class="review-form-title">
			<h3 class="product-section_title close-tab" id="reviews_form_title">Write a review</h3>
		</div>
		<div class="product-review-form" id="reviews_form" style="display: block;">
			<div class="form-group required">
				<div class="col-sm-12">
					<label class="control-label" for="input-name">Your Name</label>
					<input name="name" value="" id="input-name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group required">
				<div class="col-sm-12">
					<label class="control-label" for="input-review">Your Review</label>
					<textarea name="text" rows="5" id="input-review"></textarea>
					<div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
				</div>
			</div>
			<div class="form-group required">
				<div class="col-sm-12">
					<label class="control-label">Rating</label>
					&nbsp;&nbsp;&nbsp; Bad&nbsp;
					<input name="rating" value="1" type="radio">
					&nbsp;
					<input name="rating" value="2" type="radio">
					&nbsp;
					<input name="rating" value="3" type="radio">
					&nbsp;
					<input name="rating" value="4" type="radio">
					&nbsp;
					<input name="rating" value="5" type="radio">
					&nbsp;Good
				</div>
			</div>
			<div class="buttons clearfix">
				<div class="pull-right">
					<button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
				</div>
			</div>
		</div>
	</form>
</div>