 <ul class="breadcrumb">
    <li><a href=""><i class="fa fa-home"></i></a></li>
    <li><a href="">Account</a></li>
    <li class="last"><a href="" style="display: none;">Login</a><span>Login</span></li>
  </ul>