<div class="container">
	<%= render 'users/breadcrumb' %>
  	<div class="row">
	    <div id="content" class="col-sm-9"> 
			<h2>My Account</h2>
			<ul class="list-unstyled">
				<li><a href="">Edit your account information</a></li>
				<li><a href="">Change your password</a></li>
				<li><a href="">Modify your address book entries</a></li>
				<li><a href="">Modify your wish list</a></li>
			</ul>
			<h2>My Orders</h2>
			<ul class="list-unstyled">
				<li><a href="">View your order history</a></li>
				<li><a href="">Downloads</a></li>
				<li><a href="">Your Reward Points</a></li>
				<li><a href="">View your return requests</a></li>
				<li><a href="">Your Transactions</a></li>
				<li><a href="">Recurring payments</a></li>
			</ul>
			<h2>Newsletter</h2>
			<ul class="list-unstyled">
				<li><a href="">Subscribe / unsubscribe to newsletter</a></li>
			</ul>
		</div>
	    <aside id="column-right" class="col-sm-3">
	      <div class="box affilate info">
	        <div class="box-heading">
	          <h3>Affiliate</h3>
	        </div>
	        <div class="box-content">
	          <ul>
	            <li><a href="">Login</a></li>
	            <li><a href="">Register</a></li>
	            <li><a href="">Forgotten Password</a></li>
	            <li><a href="">My Account</a></li>
	            <li><a href="">Payment Options</a></li>
	            <li><a href="">Affiliate Tracking</a></li>
	            <li><a href="">Transactions</a></li>
	          </ul>
	        </div>
	      </div>
	    </aside>
  	</div>
</div>