<div class="container">
	<ul class="breadcrumb">
	<li>
		<a href="http://localhost:3000"><i class="fa fa-home"></i></a></li>
	<li class="last"><a href="http://localhost:3000" style="display: none;">Account</a><span>Account</span></li>
</ul>
<div class="row"> 
	<div id="content" class="col-sm-9"> 
		<h2>My Account</h2>
		<ul class="list-unstyled">
			<li><a href="">Edit your account information</a></li>
			<li><a href="">Change your password</a></li>
			<li><a href="">Modify your address book entries</a></li>
			<li><a href="">Modify your wish list</a></li>
		</ul>

		<h2>My Orders</h2>
		<ul class="list-unstyled">
			<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/order">View your order history</a></li>
			<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/download">Downloads</a></li>
			<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/reward">Your Reward Points</a></li>
			<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/return">View your return requests</a></li>
			<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/transaction">Your Transactions</a></li>
			<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/recurring">Recurring payments</a></li>
		</ul>

		<h2>Newsletter</h2>
			<ul class="list-unstyled">
				<li><a href="http://livedemo00.template-help.com/opencart_55697_v1/index.php?route=account/newsletter">Subscribe / unsubscribe to newsletter</a></li>
			</ul>
		</div>
		<%= render 'users/right_sidenav'%>
	</div>
</div>
