// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
    font-size: 38px;
    margin-bottom: 30px;
}
.site-map-page #content ul, .manufacturer-content div, #content ul.list-unstyled {
    margin: 0;
    list-style-type: none;
}
.site-map-page #content ul a, .manufacturer-content div a, #content ul.list-unstyled a {
    position: relative;
    font: bold 14px/16px "Open Sans", sans-serif;
    color: #3f3f4d;
    vertical-align: top;
}
legend {
    font-size: 18px;
    padding: 7px 0 15px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
div.required .control-label::before {
    content: '* ';
    color: #F00;
    font-weight: 600;
}