<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @admin_featured.product_id %>
</p>

<%= link_to 'Edit', edit_admin_featured_path(@admin_featured) %> |
<%= link_to 'Back', admin_featureds_path %>
