<div class="product-filter clearfix">
  <div class="row">

    <div class="col-sm-12 col-md-2">
      <label class="control-label" for="input-sort">Sort By:</label>
    </div>

    <div class="col-sm-12 col-md-3">
      <select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
        <option value="" selected="selected">Default</option>
        <option value="">Name (A - Z)</option>
        <option value="">Name (Z - A)</option>
        <option value="">Price (Low &gt; High)</option>
        <option value="">Price (High &gt; Low)</option>
        <option value="">Rating (Highest)</option>
        <option value="">Rating (Lowest)</option>
        <option value="">Model (A - Z)</option>
        <option value="">Model (Z - A)</option>
      </select>
    </div>

    <div class="col-sm-12 col-md-2">
      <label class="control-label" for="input-limit">Show:</label>
    </div>
    <div class="col-sm-12 col-md-2">
      <select id="input-limit" class="form-control" onchange="location = this.value;">
        <option value="" selected="selected">6</option>
        <option value="">25</option>
        <option value="">50</option>
        <option value="">75</option>
        <option value="">100</option>
      </select>
    </div>

    <div class="col-sm-12 col-md-3 text-right">
      <div class="button-view">
        <button type="button" id="list-view" class="btn btn-default active" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
      </div>
    </div>
  </div>
</div>