<div class="box bestsellers">
  <div class="box-heading">
    <h3>Featured</h3>
  </div>
  <div class="box-content">
    <div class="product-layout">
      <div class="box-carousel">
        <div>
          <div class="product-thumb transition">
             <div class="image">
              <a class="lazy lazy-loaded" style="padding-bottom: 100%" href=""> 
                <img alt="Grand Prix Rose Hand tied" title="Grand Prix Rose Hand tied" class="img-responsive" data-src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-37-270x270.png" src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-37-270x270.png"> 
              </a>
              <div class="stickers">
                <div class="sale">sale</div>
              </div>
              <div class="caption">
                <div class="name"><a href="">Mixed Basket Pink and Lilac</a></div>
                <div class="price">
                  <div class="price-new">$8.00 </div>
                  <div class="price-old">$80.00 </div>
                </div>
                
                <div class="cart-button">          
                  <button class="btn btn-add" type="button" onclick="cart.add('48');">
                  <span>Add to Cart</span></button>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>