<div id="tab-specification" class="tab-pane product-spec product-section">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th colspan="2"><strong>Attribute group 2</strong></th>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>Attribute 1</td>
				<td>Ribbons </td>
			</tr>
			<tr>
				<td>Attribute 4</td>
				<td>Ceramic</td>
			</tr>
			<tr>
				<td>Attribute 5</td>
				<td>20 inches</td>
			</tr>
			<tr>
				<td>Attribute 2</td>
				<td>All-around</td>
			</tr>
		</tbody>
	</table>
</div>