<div id="tab-video" class="tab-pane product-video product-section ">
	<div class="r_frame">
		<iframe src="//www.youtube.com/embed/n_jxuwfA6h8? Rel=0&amp;controls=0&amp;showinfo=0&amp;wmode=transparent" allowfullscreen="" width="560" height="315"></iframe> 
		</div>
	<div class="clearfix"></div>
</div>