<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer_box">
          <h5>Information</h5>
          <ul class="list-unstyled">
            <li><a href="">Corporate</a></li>
            <li><a href="">Love & Romance</a></li>
            <li><a href="">Sympathy</a></li>
            <li><a href="">New Baby</a></li>          
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer_box">
          <h5>Information</h5>
          <ul class="list-unstyled">
            <li><a href="">About</a></li>
            <li><a href="">Delivery Information</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms &amp; Conditions</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer_box">
          <h5>My Account</h5>
          <ul class="list-unstyled">
            <li><a href="">My Account</a></li>
            <li><a href="">Order History</a></li>
            <li><a href="">Wish List</a></li>
            <li><a href="">Newsletter</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer_box">
          <h5>Contact Us</h5>
          <ul class="list-unstyled block-address">
            <li><i class="fa fa-map-marker 2x" aria-hidden="true"></i><p>265 Tran Nhan Tong Street <br>
            Nam Dinh Distric</p></li>
            <li><i class="fa fa-phone 2x" aria-hidden="true"></i><p>+84-123-510-1678</p></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="copyright clearfix">
    <div class="container">
      Powered By <a href="http://www.opencart.com">Amazing Ruby F*cking Team</a><br> © 2016 
    </div>
  </div>
</footer>